[Unit]
Description=Admin PHAL
PartOf=mycroft.service
After=mycroft-messagebus.service

[Service]
Type=notify
TimeoutStopSec=30
Restart=always
User=root
ExecStart=/home/ovos/.local/bin/mycroft-systemd-admin-phal

[Install]
WantedBy=mycroft.service
