[Unit]
Description=Hivemind Listener
After=pulseaudio.service

[Service]
Type=simple
ExecStart=/home/ovos/.venv/bin/python hivemind-core listen
TimeoutStartSec=10m
TimeoutStopSec=1m
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
